<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>152256546965-916649i9nq3lss57nf1rqq7nfn6aamlo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.152256546965-916649i9nq3lss57nf1rqq7nfn6aamlo</string>
	<key>API_KEY</key>
	<string>AIzaSyCv1E6yA0R2rn7c6TdTrSQDcFbhW_wONpY</string>
	<key>GCM_SENDER_ID</key>
	<string>152256546965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.ecoupon.mobile</string>
	<key>PROJECT_ID</key>
	<string>ecoo-16465</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoo-16465.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:152256546965:ios:c5f8915ad0c625e49cf39c</string>
	<key>DATABASE_URL</key>
	<string>https://ecoo-16465.firebaseio.com</string>
</dict>
</plist>