<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056883972202-ishmpd7flpmfal98ju8v36rdovbgvgkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056883972202-ishmpd7flpmfal98ju8v36rdovbgvgkp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1056883972202-mvsmud5utghv8dm95meuv55lf9jchh8q.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAu8rPy7I3e6Y66uy-p7IlcnYIOn8aFglk</string>
	<key>GCM_SENDER_ID</key>
	<string>1056883972202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ch.ecoupon.mobile</string>
	<key>PROJECT_ID</key>
	<string>ecoupon-fcm</string>
	<key>STORAGE_BUCKET</key>
	<string>ecoupon-fcm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056883972202:ios:393edcb86cb65e3f639213</string>
	<key>DATABASE_URL</key>
	<string>https://ecoupon-fcm.firebaseio.com</string>
</dict>
</plist>